<div class="container">
    <div class="date-container">
        <div class="start-date">
            Initiated On: {{startDate}}
        </div>
        <div class="end-date">
            Completed On: {{endDate}}
        </div>
    </div>
    
    <div class="time-container">
        <div class="start-time">
            From: {{startTime}}
        </div>
    
        <div class="end-time">
            To: {{endTime}}
        </div>
    </div>
    
    <div class="calculated-time">
        Time to completion: {{calculatedTimeToCompletion}} seconds
    </div>
</div>
