


<form action="" class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
   
      <div class="section-container form-group" ngModelGroup="cashierTask" #formcashierTask="ngModelGroup">
        <p class="section-title">Cashier Check List</p>
  
        <table>
            <tr>
              <th>Task Description</th>
              <th>Completed</th>
              <th>Images</th>
            </tr>
                
            <tr>
              <td><label for="checkCash">Check and record all cash in register into log book</label></td>
              <td> <input type="checkbox" name="checkCash" id="checkCash" [(ngModel)]="mainList.cashierTask.checkCash" [disabled]="instance"></td>
              <td>
                <app-upload
                [submitFiles]="submitFiles"
                [fileContainerTypeId]="mainList.cashierTask.fileContainerTypeId"
                [listReferenceTypeId]="mainList.listReferenceTypeId!"
                [instance]="instance"
                [label]="'check-cash'"
                ></app-upload>                  
              </td>
            </tr>
            <tr>
                <td>  <label for="ensurePrinter">Ensure on spare paper roll is nest to the printer</label></td>
                <td>     <input type="checkbox" name="ensurePrinter" id="ensurePrinter" [(ngModel)]="mainList.cashierTask.ensurePrinter" [disabled]="instance"></td>
                <td>
                  <app-upload
                  [submitFiles]="submitFiles"
                  [fileContainerTypeId]="mainList.cashierTask.fileContainerTypeId"
                  [listReferenceTypeId]="mainList.listReferenceTypeId!"
                  [instance]="instance"
                  [label]="'ensure-printer'"
                  ></app-upload>                  
                </td>
  
              </tr>
            <tr>
                <td>  <label for="ensureChange">Ensure that there is adequate change and alert the manager if any is needed</label></td>
                <td>    <input type="checkbox" name="ensureChange" id="ensureChange" [(ngModel)]="mainList.cashierTask.ensureChange" [disabled]="instance"></td>
                <td>
                  <app-upload
                  [submitFiles]="submitFiles"
                  [fileContainerTypeId]="mainList.cashierTask.fileContainerTypeId"
                  [listReferenceTypeId]="mainList.listReferenceTypeId!"
                  [instance]="instance"
                  [label]="'ensure-change'"
                  ></app-upload>                  
                </td>
  
            </tr>
            <tr>
                <td>  <label for="tidyWorkstation">Ensure the worksation is tidy. Includes Cash register, counter, tablet</label></td>
                <td>    <input type="checkbox" name="tidyWorkstation" id="tidyWorkstation" [(ngModel)]="mainList.cashierTask.tidyWorkstation" [disabled]="instance"></td>
                <td>
                  <app-upload
                  [submitFiles]="submitFiles"
                  [fileContainerTypeId]="mainList.cashierTask.fileContainerTypeId"
                  [listReferenceTypeId]="mainList.listReferenceTypeId!"
                  [instance]="instance"
                  [label]="'tidy-work-station'"
                  ></app-upload>                  
                </td>
  
            </tr>
        </table>      
      </div>
  
     
      
      <div class="ending-section">
        <div class="comment-container">
            <label for="comment">Comments:</label>
            <textarea 
              name="comment" 
              id="" 
              [disabled]="instance"
              [(ngModel)]="mainList.comment.comment"
              >
            </textarea>
          </div>


          <!-- <app-upload *ngIf="!this.instance"
            (filesEmitter)="getFiles($event)"
            (progressEmitter)="getFileProgress($event)"
            [submitted]="messageSubmittedSucessfully"
          ></app-upload>
          <div class="image-container" *ngIf="this.instance">
            <p class="section-title">Uploaded Images</p>
            <div class="images-container">
              <div *ngFor="let image of this.imageUrls">
                <img [src]="image" alt="image">
              </div>
            </div>
          
          </div> -->
        

          <div class="signature-section-container">
              <div class="signature-section"  ngModelGroup="signature">
                <div class="signature-container">
                    <div class="title">{{instance ? "Signed by" : "Sign here"}}</div>
      
                    <div class="input-line">
                        <label for="kitchenName">Signed</label>
                        <input type="text" name="kitchenName" id="kitchenName" [(ngModel)]="mainList.signature.name" [disabled]="instance" required>
                    </div>
                    <div class="input-line" *ngIf="instance">
                        <label for="kitchenDate">Date</label>
                        
                    </div>
                  </div>
              </div>
          </div>
          
          <button type="submit" [disabled]="instance" *ngIf="!instance">Submit</button>
      </div>
       
     
    </form>
    