<mat-sidenav-container class="container">
    <mat-sidenav id="fixedSidenav"   mode="side" opened="true" >
      <div id = list>

            <div class="nav-item"  routerLink="/forms" routerLinkActive="active" ariaCurrentWhenActive="page" >
                <a>  
                    <mat-icon>insert_drive_file</mat-icon>
                </a>
                <p>Forms</p>
            </div>
            
            <div class="nav-item" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                <a >  
                    <mat-icon>dashboard</mat-icon>
                </a>
                <p>History</p>
            </div>
            
            <!-- <div class="nav-item" routerLink="/cashier-check-list" routerLinkActive="active" ariaCurrentWhenActive="page">
                <a >  
                    <mat-icon>dashboard</mat-icon>
                </a>
                <p>Cashier check list</p>
            </div>
            <div class="nav-item" routerLink="/stock-opening-check-list" routerLinkActive="active" ariaCurrentWhenActive="page">
                <a >  
                    <mat-icon>dashboard</mat-icon>
                </a>
                <p>Stock opening check list</p>
            </div>             -->
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
