/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$sans-serif-font: "sans-serif";
$basic_font_width: 16px;

form {
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 100px;

}
table {
    width: 100%;

    th {
        height: 50px;
        background-color: #555555;
        color: white;
        font-family: sans-serif;
        letter-spacing: 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    tr {
        height: fit-content;
        width: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        column-gap: 5px;
    }

    th:first-child {
        background-color: transparent;
    }

    td {
        padding: 20px;
        background-color: #eeeeee;

        font-size: $basic_font_width;
        font-family: sans-serif;
        display: flex;
        flex-direction: row;
 
        
        &:hover {
            cursor: pointer;    
        }
        
    }

    th, td {
  
        margin-bottom: 5px;
        
    }
}

p {
    font-family: sans-serif!important;
    font-size: $basic_font_width!important;
}

.form-input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    column-gap: 20px;

    input[type=checkbox] {

        &:hover {
            cursor: pointer;    
        }
    }

    label {
       
        font-size: $basic_font_width;
        font-family: sans-serif;
        
    }

}

.cashier {
    margin-top: 50px;
}

.service {
    margin-top: 50px;

    .info-container {
        margin-top: 10px;

        padding: 10px;
        display: flex;
        flex-direction: column;
    }
}



h1 {
    font-family: sans-serif;

}

button {
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    margin-top: 20px;
    background-color: #971717;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background-color: #ad1f1f;

    }

    &:disabled {
        background-color: #683333;

        &:hover {
            cursor: not-allowed;
            transform: scale(1.0);
            background-color: #683333;

        }
    }
}

input:disabled {
    &:hover {
        cursor: not-allowed;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;

    button {
        width: 200px;
    }
}


input[type=checkbox] {
    size: 30px;
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

td:has(input[type=checkbox]) {
    justify-content: center;
}

.section-container {
    margin-top: 100px;
}
.section-title {
    font-size: 25px!important;
    margin-bottom: 40px;
    font-weight: bold;
}

.ending-section {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .comment-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        label {
            align-self: flex-start;
            font-size: $basic_font_width;
            font-family: sans-serif;
            
        }
        textarea {
            width: 100%;
            height: 400px;
        }
    }

    .signature-section-container {
        margin-top: 50px;
        width: 90%;
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        .signature-section {
            margin-bottom: 50px;
            display: flex;
            flex-direction: row;
            column-gap: 300px;
        
            .signature-container {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                .input-line {
                    display: grid;
                    grid-template-columns: 30% 70%;
                    grid-template-rows: auto;
                    column-gap: 50px;
                    align-items: center;
            
                }
        
                .title {
                  
                    font-family: sans-serif;
                    font-size: 25px;
                    font-weight: bold;
          
    
                }
        
                input {
                    height: 30px;
                    width: 300px;
                    outline: none;
                    border: none;
                    border-bottom: solid black 2px;
                    background-color: #eeeeee;
                    padding: 10px;
                }
        
                label {
                    font-family: sans-serif;
                    font-size: $basic_font_width;
                }
    
              
            }
        }
    }
    
    
}
