
<div class="container" 
    *ngIf="instance"
    (fileDropped)="onFileDropped($event)"
   
    (stateStyleEmitter)="updateStateStyle($event)"
    [ngStyle]="stateStyle"
 
    
    >
  <input
    *ngIf="!instance"
    [disabled]="instance"
    type="file"
    ngModel
    #fileDropRef="ngModel"
    id="fileDropRef"
    multiple
    accept=".pdf,.png,.jpg,.jpeg"
    (change)="fileBrowseHandler($event.target)"
  />
  <img class="image" *ngIf="imageUrl.length > 0" [src]="this.imageUrl" alt="No image uploaded">
  <div class="image center" *ngIf="imageUrl.length == 0 && !instance">
    <p>Click to upload image</p>
    <p>Or</p>
    <p>Drag and drop image</p>
  </div>
  <div class="image center" *ngIf="instance && imageUrl.length == 0">
    <p>No Image uploaded</p>
  </div>
</div>

<div class="container"
    *ngIf="!instance"
    (fileDropped)="onFileDropped($event)"
    appDragAndDrop
    (stateStyleEmitter)="updateStateStyle($event)"
    [ngStyle]="stateStyle"
 
    
    >
  <input
    *ngIf="!instance"
    [disabled]="instance"
    type="file"
    ngModel
    #fileDropRef="ngModel"
    id="fileDropRef"
    multiple
    accept=".pdf,.png,.jpg,.jpeg"
    (change)="fileBrowseHandler($event.target)"
  />
  <img class="image" *ngIf="imageUrl.length > 0" [src]="this.imageUrl" alt="No image uploaded">
  <div class="image center" *ngIf="imageUrl.length == 0">
    <p>Click to upload image</p>
    <p>Or</p>
    <p>Drag and drop image</p>

  </div>
</div>


  <!-- <div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
      <mat-icon>
        insert_drive_file
      </mat-icon>
      <div class="info">
        <a class="name" [href]="fileUrls[i]" [download]="file?.name" >
          {{file?.name}}
        </a>
        <p class="size">
          {{ formatBytes(file?.size) }}
        </p>
        <app-progress-bar [progress]="file?.progress"></app-progress-bar>
      </div>

      <div (click)="deleteFile(i)" class="delete">
        <mat-icon>
          delete
        </mat-icon>
      </div>
    </div>
  </div> -->
